<!-- <h1>Welcome to Etch Bricks</h1> -->
<div class="home">
<div class="row">
  <div class="col-sm-4 service_type"><i class="fa fa-users fa-5x"></i><h3>Workshops</h3><p>We conduct 5 workshops in a year for each class and set up a techno club in the school where students can come together and make amazing projects during free hours.</p></div>
  <div class="col-sm-4 service_type"><i class="fa fa-gamepad fa-5x"></i><h3>Hobby classes</h3><p>We conduct hobby classes in schools where students can learn electronics and programming which will be included in the list of hobby classes provided by school.</p></div>
  <div class="col-sm-4 service_type"><i class="fa fa-cubes fa-5x"></i><h3>Summer and Winter camps</h3><p>We conduct summer and winter camps where students are exposed to a wide variety of technologies and projects.</p></div>
</div>

<div class="row"></div>

<div class="row">
  <div class="col-sm-4 service_type"><i class="fa fa-cog fa-spin fa-5x"></i><h3>Online support</h3><p>We expect students to keep in touch with us and communicate with us through emails for any technical help. We promote their new and amazing creations by adding them to our portal.</p></div>
  <div class="col-sm-4 service_type"><i class="fa fa-child fa-5x"></i><h3>Newbies</h3><p>We created a starter kit for children of age 7 yrs to 10 yrs. A set of bricks which can be joined logically to build amazing stuff. Students get to work with electronics at an early age and this helps them build their analytical and logical skills.</p></div>
  <div class="col-sm-4 service_type"><i class="fa fa-flask fa-5x"></i><h3>Innovators</h3><p>Students of 10 yrs and above fall into this category. Children start with the starter kit which is the base for learning electronics. Students get to use the smart brick which has an Arduino board in it to learn programming.</p></div>
</div>
</div>

<div class="video">
    <div class = "row">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ri-fSHd2XeA" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
  <footer>&copy 2014-2015 Etch Bricks</footer>
