// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//index.html#posts

.iframe_video{
  text-align: center;
  // float: right;
  margin-top: 30px;
  margin-bottom: 20px;
}
#indexposts{
  h3{
    color: $darkblue;
  }
}
.pull-right{
  margin-right: 10px;
}
#image{
  text-align: center;
}
.user_email{
  font-size: 15px;
  color: $orange;
}
